<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <handlers>
            <add name="Python CGI" path="*.py" verb="*" modules="CgiModule" scriptProcessor="&quot;C:\Python3\python.exe&quot; %s %s" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
